
.nav-container {
    background-color: aqua;
    margin-bottom: 25px;
}

.nav-brand {
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 50%;
}

.table-col-label {
    width: 20%;
}

.table-col-input {
    width: 40%;
}

.schedule-date {
    width: 60%;
    float: left;
}

.schedule-time {
    width: 40%;
    float: left;
}

button {
    margin: 5px;
}